@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
:host {
  display: block;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

:root {
  --color-primary: #6d28d9;
  --color-bg: #ede9fe;
  --color-surface: #ffffff;
  --color-font: #0f172a;
  --color-primary-light: #8b5cf6;
--color-primary-dark: #4c1d95;

--color-border: #e5e7eb;
--color-hover: #f3f4f6;

--color-success-bg: #ecfdf5;
--color-warning-bg: #fffbeb;
--color-danger-bg: #fef2f2;
--color-info-bg: #eff6ff;

--color-surface-2: #f8fafc;

}

:root[data-role="head"] {
  --color-primary: #154474;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #0b183d;

  --color-secondary: #067791;
  --color-accent: #00d4cd;

  --color-bg: #eff6ff;
  --color-surface: #ffffff;

  --color-font: #0f172a;
  --color-muted: #475569;

  --color-border: #bfdbfe;
  --color-hover: #dbeafe;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #0ea5e9;

  --shadow-sm: 0 2px 6px rgba(29, 78, 216, 0.12);
  --shadow-md: 0 8px 18px rgba(29, 78, 216, 0.2);

  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

/* ===== SURFACE ===== */
.surface {
  background: var(--color-surface);
  color: var(--color-font);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

/* ===== PRIMARY BUTTON ===== */
.btn-primary {
  background: var(--color-primary);
  color: white;
}
.btn-primary:hover {
  background: var(--color-primary-dark);
}

/* ===== SECONDARY BUTTON ===== */
.btn-secondary {
  background: var(--color-surface-2);
  color: var(--color-font);
}
.btn-secondary:hover {
  background: var(--color-hover);
}

/* ===== SUCCESS ===== */
.success {
  background: var(--color-success-bg);
  color: var(--color-success);
}

/* ===== WARNING ===== */
.warning {
  background: var(--color-warning-bg);
  color: var(--color-warning);
}

/* ===== DANGER ===== */
.danger {
  background: var(--color-danger-bg);
  color: var(--color-danger);
}

/* ===== INFO ===== */
.info {
  background: var(--color-info-bg);
  color: var(--color-info);
}

/* ===== PAGE BG ===== */
.page-bg {
  background: var(--color-bg);
}

/* ===== CARD HEADER GRADIENT ===== */
.header-gradient {
  background: linear-gradient(
    135deg,
    var(--color-primary-light),
    var(--color-primary)
  );
  color: white;
}
