.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FFB366;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E67A00;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}


:host ::ng-deep .iti {
  @apply w-full;
}

:host ::ng-deep .iti input {
  @apply h-12 py-3.5 leading-5;
}

:host ::ng-deep .iti__flag-container {
  @apply h-12 flex items-center;
}